# Bytecode and cache
__pycache__/
*.py[cod]

# Database
db.sqlite3
media/

# Ignore compiled migration files only
**/migrations/*.pyc
**/migrations/__pycache__/

# But keep the actual migration Python files
!**/migrations/
!**/migrations/__init__.py

# Virtual environments
venv/
.venv/

# macOS system file
.DS_Store
