body {
    font-family: 'Arial', sans-serif; /* Change this to your desired font */
    background-color: #e9d9eb;
}
h1 {
    font-family: 'Arial', serif; /* Change this to your desired font */
    color: #291432;
    
}
.navbar {
    background-color: #480d66;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.navbar a {
    margin: 0 10px;
    text-decoration: none;
    color: #d6cfd8;
}
.small-text {
    font-size: 16px; /* Adjust the size as needed */
}