{% extends 'base.html' %}
{% block title %}Giriş Yap{% endblock %}
{% block content %}
<div class="blur-container mx-auto" style="max-width: 500px; text-align: center; border-radius: 20px; padding: 40px;">
    <h2 class="mb-4">Giriş Yap</h2>
    {% if form.non_field_errors %}
    <div class="alert alert-danger text-white" style="background-color: rgba(220, 53, 69, 0.3); backdrop-filter: blur(10px); border-radius: 12px;">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
     </div>
    {% endif %}

    <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div class="form-group d-flex flex-column align-items-center">
            <input type="text" id="id_login" name="login" placeholder="E-posta adresi"
                   style="width: 90%; padding: 12px; margin: 12px 0; border-radius: 12px; border: none; background: rgba(255, 255, 255, 0.2); color: white; font-size: 16px; text-align: center;">

            <input type="password" id="id_password" name="password" placeholder="Şifre"
                   style="width: 90%; padding: 12px; margin: 12px 0; border-radius: 12px; border: none; background: rgba(255, 255, 255, 0.2); color: white; font-size: 16px; text-align: center;">
        </div>

        <div class="form-check text-start mb-3">
            <input class="form-check-input" type="checkbox" id="id_remember" name="remember">
            <label class="form-check-label" for="id_remember">Beni Hatırla</label>
        </div>

        <p class="mb-2">
            <a href="{% url 'account_reset_password' %}" class="forgot-password">Şifrenizi mi unuttunuz?</a>
        </p>

        <button type="submit" class="btn w-100" style="background: linear-gradient(45deg, #8a2be2, #5a1c91); color: white; padding: 12px; font-weight: bold; border-radius: 10px;">Giriş Yap</button>
    </form>
</div>
{% endblock %}