{% extends 'base.html' %}
{% block title %}Şifre Sıfırlama{% endblock %}
{% block content %}
<div class="container">
    <h2>Şifre Sıfırlama</h2>
    <p>Şifrenizi mi unuttunuz? E-posta adresinizi girin, sıfırlama bağlantısı gönderelim.</p>
    
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_email" class="form-label">E-posta:</label>
            {{ form.email }}
        </div>
        <button type="submit" class="btn btn-primary w-100">Şifremi Sıfırla</button>
    </form>
</div>
{% endblock %}
